*{
    margin:0;
    padding:0px;

}
body{
    background-image: url("imgP.jpeg");
    height: 700px;
    width:auto;
    background-repeat: no-repeat, repeat;
    background-color: rgba(24, 26, 27, 0);
    background-size: cover;
    background-position:center;
    
}
div.main{
    width:500px;
    height: auto px;
    background-color:rgba(46, 1, 38, 0.356);
    margin:auto;
     color:skyblue;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius:15px 15px 0px 0px ;
    font-size: 20px;
}
.Register{
  background-color: (0 0 0 0.5);
    width: 400px;
    margin:auto;

}
#form action{
    padding:10px;
}
h1{
    text-align: center;
 padding:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:red;
}


#fname{
    position: relative;
    line-height: 30px;
 border-radius: 6px;
 padding:0 20px;
 font-size: 12px;
}
#lname{
    position: relative;
    line-height: 30px;
 border-radius: 6px;
 padding:0 20px;
 font-size: 12px;
}
#phoneno{
    position: relative;
    line-height: 30px;
 border-radius: 6px;
 padding:0 20px;
 font-size: 12px;
}
#birthdate{
    position: relative;
    line-height: 30px;
 border-radius: 7px;
 padding:0 20px;
 font-size: 12px;
}
#email{
    position: relative;
    line-height: 30px;
 border-radius: 6px;
 padding:0 20px;
 font-size: 12px;
}
input#submit {
    background-color: #4CAF50; 
    border-radius: 40%;
    color: greenyellow;
    padding: 12px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

    

